#btn1{
    background-color: white ;
    color: #8d0000 ;
}
#btn1:hover{
    background: none ;
    color: white ;
}
nav{
    background-color: #8d0000;
    height: 6em;
}
li{
    font-size: 1.2em;
}
.vl{
    border-left: 0.1px solid rgba(255, 255, 255, 0.514) ;
    margin-top: 35px;
    margin-bottom: 35px;
}
.space{
    width: 300px;
}
